# dependencies
node_modules/
**/node_modules/

# environment
.env

# database
*.db

# build outputs
dist/
build/

# Database files
database/*.db
database/*.db-shm
database/*.db-wal
database/*.db-journal